<mat-toolbar>
    <button mat-icon-button class="example-icon" 
     aria-label="Example icon-button with menu icon">
      <mat-icon>flight </mat-icon> 
    </button>
    <span>Flight
        <!--<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>-->
    </span>
    <span class="example-spacer"></span>
    <div class="space"></div>
<!--<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>-->
    <!--<a routerLink="/admin" routerLinkActive="active">Admin</a>  -->


   <!--  <a mat-button routerLink="login">
      <mat-icon>login</mat-icon>Login</a>
    -->

      <a mat-button routerLink="register">
        <mat-icon>app_registration</mat-icon>Register</a>

    <a mat-button routerLink="adlogin">
      <mat-icon>admin_panel_settings</mat-icon>Admin</a>
   <!---- <a routerLink="/booking" routerLinkActive="active">Booking</a>-->
    <a mat-button routerLink="flight">
      <mat-icon>flight</mat-icon>Booking</a>
    <!--<a routerLink="/search" routerLinkActive="active">Search</a>  -->
    <a mat-button routerLink="search">
      <mat-icon>search</mat-icon>Search</a>
    </mat-toolbar>
<div style="font-size: 40px; font-weight: 500; padding: 5; color: rgb(27, 9, 27);
text-align: center;"><br>
<!-- <a>FLIGHT BOOKING</a> -->
</div> 
<br>
<br>
 <div class="myText1" >
 <!-- <a>Our Life is a Constant Journey,from Birth to Death....</a>  -->
</div>
<br>
  






<!--mat-toolbar color="primary">

  <span><mat-icon>card_giftcard</mat-icon>Dealsandcoupons</span>

  <div class="space"></div>



  <a mat-button routerLink="home">

      <mat-icon>home</mat-icon> Home</a>



  <a mat-button routerLink="user">

      <mat-icon>supervised_user_circle</mat-icon>user</a>



  <a mat-button routerLink="admin">

      <mat-icon>account_circle</mat-icon>admin</a>



  <a mat-raised-button color="accent" routerLink="login">

      <mat-icon>account_circle</mat-icon>Sign Up</a>

</mat-toolbar>-->